<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.autodist.configuration.preferences.AutoDistPreferencePage"
            id="net.autodist.configuration.preferences.AutoDistPreferencePage"
            name="AutoDist Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.autodist.configuration.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
